<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Usuarios</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>

        <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PQRS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= user.usuario %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-12 alert alert-success">
                    <h1 class="text-center">Listado de Usuarios</h1>
                </div>
                <div class="col-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% logins.forEach( log => { %>
                                <tr>
                                    <th scope="row"><%= log.id %></th>
                                    <td><%= log.usuario %></td>
                                    <td><%= log.Contraseña  %></td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-warning"
                                            data-bs-toggle="modal"
                                            data-bs-target="#usersModal"
                                            onclick="openusersModal('<%= log.id %>' , '<%= usuario.usuario %>', '<%= contraseña.contraseña %>')"
                                            >Editar</button>
                                        <form 
                                            action="/users/destroy/<%= log.id %>" 
                                            method="post" 
                                            onsubmit="return confirm('¿Seguro Quieres eliminar este registro?')"
                                            class="d-inline">
                                            <button 
                                            type="submit" 
                                            class="btn btn-danger"
                                            >
                                                Eliminar
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-3">
                    <!-- Button trigger modal -->
                    <button 
                    type="button" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal" 
                    data-bs-target="#login
                    Modal"
                    onclick="openUsersModal()"
                    >
                        Agregar un nuevo Usuario
                    </button>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="usersModalLabel">Agrega un nuevo Usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/users" method="post" id="UsersForm">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Usuario</label>
                                    <input name="title" type="text" class="form-control" id="userTitle" aria-describedby="UsersTitleHelp">
                                    <div id="UsersTitleHelp" class="form-text">Agrega tu nombre de Usuario</div>
                                </div>
                                <div class="mb-3 form-check">
                                    <label class="form-check-label" for="contraseña">Contraseña</label>
                                    <input name="title" type="text" class="form-control" id="userTitle" aria-describedby="UsersTitleHelp">
                                    <div id="UsersTitleHelp" class="form-text">Agrega tu contraseña</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>

                
            </div>
        </div>
        <script>
            function openUsersModal(id = null, usuario = '', contraseña = '') {
                if (id) {
                    document.getElementById('userForm').action = `/users/edit/${id}`;
                } else {
                    document.getElementById('userForm').action = '/users';
                }
                document.getElementById('nombre').value = title;
                nombre.getElementById('contraseña').value = title;
                
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>